:root {
  /* Primary Colors */
  --Lime-Green: #1db489;
  --Bright-Red: #dc414c;
  --Facebook: #198ff5;
  --Twitter: #1ca0f2;
  --Instagram: linear-gradient(to right, #fdc468,#df4996);
  --YouTube: #c4032a;
  
  /* Dark Theme */
  --Dark-Toggle: linear-gradient(#378fe6,#3eda82);
  --Dark-BG: #1e202a;
  --Dark-Top-BG-Pattern: #1f212e;
  --Dark-Card-BG: #252a41;
  --Desaturated-Blue-Text: #8b97c6;
  --White-Text: #ffffff;

  /* Light Theme */
  --Light-Toggle: #aeb3cb;
  --Light-BG: hsl(0, 0%, 100%);
  --Light-Top-BG-Pattern: hsl(225, 100%, 98%);
  --Light-Card-BG: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
  --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
}

p {
  margin: 0;
}

.font-link-normal {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
}

.font-link-bold {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-BG);
}